.commentContainer {
    border-top: solid 5px #ffffff;
    border-left: solid 5px #ffffff;
    border-bottom: solid 5px #000000;
    border-right: solid 5px #000000;
    box-sizing: border-box;
    width: 100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 0.5%;
}

.commentHeader {
    background-color: rgb(184, 184, 184);
    box-sizing: border-box;
    border-bottom: solid 5px #000;
    padding-left: 0.5%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: -0.5%; /* This extends the background and border past the padding values of the parent container to cover the entire thing and not stop short */
    margin-right: -0.5%; /* This extends the background and border past the padding values of the parent container to cover the entire thing and not stop short */
}

.commentHeader h3 {
    background-color: rgb(184, 184, 184);
}

.commentMain {
    padding: 1%;
}

.commentMain ul {
    padding-left: 1.5rem;
}

.commentMain ol {
    padding-left: 1.5rem;
}

@keyframes pulse {
    0%, 100% {
        color: rgb(255, 69, 0);
    }
    50% {
        color: rgb(0, 0, 0);
    }
}

.commentMain a {
    text-decoration: none;
    color: rgb(255, 69, 0);
    &:hover {
        animation: pulse 2s infinite;
    }
}

/* Smaller screen size styling */

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {
    .commentHeader h3,.commentMain p, .commentMain ul, .commentMain ol, .commentMain a {
        font-size: 1.25rem;
    }

    .commentMain {
        padding: 0.4rem;
    }

    .commentMain a {
        text-decoration: none;
        color: rgb(255, 69, 0);
    }
}