.postPreviewContainer {
    border-top: solid 5px #ffffff;
    border-left: solid 5px #ffffff;
    border-bottom: solid 5px #000000;
    border-right: solid 5px #000000;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 1rem 1rem rgb(58, 58, 58);
}

.postPreviewHeader {
    background-color: rgb(184, 184, 184);
    box-sizing: border-box;
    border-bottom: solid 5px #000;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
}

.postPreviewHeader h2 {
    background-color: rgb(184, 184, 184);
}

.postPreviewMenuBar {
    box-sizing: border-box;
    border-bottom: solid 5px rgb(184, 184, 184);
    display: inline-flex;
    width: 100%;
    padding: 0.5rem;
    background-color: #fff;
}

.postPreviewMenuBar p {
    padding-right: 1.5rem;
    background-color: #fff;
}

.postPreviewMain {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    padding: 2.5%;
    width: 100%;
}

.postPreviewFooter {
    text-align: center;
    padding: 2rem;
}

@keyframes pulse {
    0%, 100%{
        color: rgb(0, 0, 0);
    }
    50% {
        color: rgb(255, 69, 0);
    }
}

.postPreviewContainer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    &:hover {
        animation: pulse 2s infinite;
    }
}

.postPreviewFooter button {
    min-height: 2rem;
    padding: .1rem;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Jersey 25';
    font-size: 1.5rem;
    border-top: solid 5px #ffffff;
    border-left: solid 5px #ffffff;
    border-bottom: solid 5px #000000;
    border-right: solid 5px #000000;
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 69, 0, 0.2);
    }
    &:active {
        border-top: solid 5px #000000;
        border-left: solid 5px #000000;
        border-bottom: solid 5px #ffffff;
        border-right: solid 5px #ffffff;
        background-color: rgb(255, 69, 0);
    }
}

/* Smaller screen size styling */

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {
    .postPreviewHeader, .postPreviewMenuBar {
        padding: 0.4rem;
    }

    .postPreviewHeader h2 {
        font-size: 1.5rem;
    }

    .postPreviewMenuBar p {
        font-size: 1rem;
        padding-right: 1rem;
        padding-left: 0.3rem;
        background-color: #fff;
    }

    .postPreviewMenuBar i {
        background-color: #fff;
    }

    .postPreviewFooter button {
        font-size: 1.25rem;
        color: #000;
    }

}