/* Menu open styling */

.subredditMenuContainerOpen {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border: dashed 5px #000;
    box-sizing: border-box;
    width: 100%;
}

.subredditMenuContainerOpen ul {
    display: block;
    overflow: hidden;
    padding-left: 2.5rem;
}

.subredditMenuContainerOpen li {
    list-style-type: "\1F7AC";
    color: black;
    white-space: nowrap;
    &:hover {
        color: rgb(255, 69, 0);
    }
}

.subredditMenuContainerOpen a {
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    &:hover {
        color: rgb(255, 69, 0);
    }
}

.subredditMenuContainerOpen p {
    text-align: end;
}

/* Menu closed styling */

.subredditMenuContainerClosed {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: dashed 5px #000;
    box-sizing: border-box;
    width: 100%;
}

.subredditMenuContainerClosed ul {
    display: none;
}

.subredditMenuContainerClosed p {
    text-align: start;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Toggles for menu  */

.openMenu {
    display: none;
    &:hover {
        color: rgb(255, 69, 0);
        cursor: pointer;
    }
}

.closeMenu {
    display: block;
    &:hover {
        color: rgb(255, 69, 0);
        cursor: pointer;
    }
}

/* Smaller screen size styling */

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {
    
}