.galleryContainer {
    height: 30rem;
    position: relative;
    max-width: 100%;
}

.galleryContainer .leftArrow {
    height: 3rem;
    position: absolute;
    top: 50%;
    width: 3rem;
    left: 0;
}

.galleryContainer .rightArrow {
    height: 3rem;
    position: absolute;
    width: 3rem;
    right: 0;
    top: 50%;
}

.galleryContainer img {
    height: 30rem;
    width: 100%;
    object-fit: contain;
}

.galleryContainer button {
    border-top: solid 5px #ffffff;
    border-left: solid 5px #ffffff;
    border-bottom: solid 5px #000000;
    border-right: solid 5px #000000;
    font-weight: 900;
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 69, 0, 0.2);
    }
    &:active {
        border-top: solid 5px #000000;
        border-left: solid 5px #000000;
        border-bottom: solid 5px #ffffff;
        border-right: solid 5px #ffffff;
        background-color: rgb(255, 69, 0);
    }
}

/* Smaller screen size styling */

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {
    .galleryContainer {
        height: 20rem;
    }

    .galleryContainer .leftArrow {
        height: 2rem;
        width: 2rem;
    }

    .galleryContainer .rightArrow {
        height: 2rem;
        width: 2rem;
    }

    .galleryContainer img {
        height: 20rem;
    }

    .galleryContainer button {
        color: #000;
    }
}