.indexSubredditContainer {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border: dashed 5px #000;
    box-sizing: border-box;
    width: 100%;
}

.indexSubredditContainer h1 {
    padding-bottom: 1rem;
}