.postOverallContainer {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    border: dashed 5px #000;
    box-sizing: border-box;
    width: 100%;
}

.postContainer {
    border-top: solid 5px #ffffff;
    border-left: solid 5px #ffffff;
    border-bottom: solid 5px #000000;
    border-right: solid 5px #000000;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 1rem 1rem rgb(58, 58, 58);
}

.postHeader {
    background-color: rgb(184, 184, 184);
    box-sizing: border-box;
    border-bottom: solid 5px #000;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
}

.postHeader h2 {
    background-color: rgb(184, 184, 184);
}

.postMenuBar {
    box-sizing: border-box;
    border-bottom: solid 5px rgb(184, 184, 184);
    display: inline-flex;
    width: 100%;
    padding: 0.5rem;
    background-color: #fff;
}

.postMenuBar p {
    padding-right: 1.5rem;
    background-color: #fff;
}

.postMain {
    display: flex;
    box-sizing: border-box;
    align-items: start;
    flex-direction: column;
    padding: 2.5%;
    width: 100%;
}

.postCommentsContainer {
    padding-left: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 2.5%;
}

.postComments {
    border-top: solid 5px #000000;
    border-left: solid 5px #000000;
    border-bottom: solid 5px #ffffff;
    border-right: solid 5px #ffffff;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(228, 228, 228);
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
}