.rootContainer {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
}

/* Menu open styling */

.menuContainerOpen {
    display: inline-block;
    box-sizing: border-box;
    width: 17%;
    padding-right: 0.5rem;
}

.outletContainerOpen {
    display: inline-block;
    box-sizing: border-box;
    width: 83%;
    padding-left: 0.5rem;
}

/* Menu closed styling */

.menuContainerClosed {
    display: inline-block;
    box-sizing: border-box;
    width: 7%;
    padding-right: 0.5rem;
}

.outletContainerClosed {
    display: inline-block;
    box-sizing: border-box;
    width: 93%;
    padding-left: 0.5rem;
}