.rootContainer {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
}

/* Menu open styling */

.menuContainerOpen {
    display: inline-block;
    box-sizing: border-box;
    width: 15%;
    padding-right: 0.5rem;
}

.outletContainerOpen {
    display: inline-block;
    box-sizing: border-box;
    width: 85%;
    padding-left: 0.5rem;
}

/* Menu closed styling */

.menuContainerClosed {
    display: inline-block;
    box-sizing: border-box;
    width: 7%;
    padding-right: 0.5rem;
}

.outletContainerClosed {
    display: inline-block;
    box-sizing: border-box;
    width: 93%;
    padding-left: 0.5rem;
}

/* Smaller screen size styling */

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {
    .rootContainer {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    /* Menu open styling */

    .menuContainerOpen {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding-right: 0rem;
    }

    .outletContainerOpen {
        display: none;
    }

    /* Menu closed styling */

    .menuContainerClosed {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding-right: 0rem;
    }
    
    .outletContainerClosed {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding-left: 0rem;
    }
    
}